/* line 1, ../sass/parts/_extend.scss */
.port-desc .btn-link, .btn-wrap .btn-list {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
}

/* line 7, ../sass/parts/_extend.scss */
.port-desc .btn-link:hover, .btn-wrap .btn-list:hover {
  background-color: transparent;
}

/* line 5, ../sass/screen_sub.scss */
.section-title {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 15px;
}
/* line 10, ../sass/screen_sub.scss */
.section-title h2 {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 2em;
  line-height: 1.2;
}
/* line 18, ../sass/screen_sub.scss */
.section-title h2:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0;
  width: 70%;
  height: 3px;
  margin-left: -35%;
  background-color: #1E3269;
}

/* line 33, ../sass/screen_sub.scss */
.sub-contents {
  padding-top: 25px;
}
/* line 35, ../sass/screen_sub.scss */
.sub-contents:after {
  content: '';
  display: block;
  clear: both;
}

/* line 40, ../sass/screen_sub.scss */
.port-slide-wrap {
  width: 40%;
  float: left;
  margin-right: 45px;
  padding: 0 25px;
}
/* line 48, ../sass/screen_sub.scss */
.port-slide-wrap .slide-item {
  text-align: center;
}
/* line 50, ../sass/screen_sub.scss */
.port-slide-wrap .slide-item img {
  display: inline-block;
  max-width: 100%;
  max-height: 600px;
}
/* line 57, ../sass/screen_sub.scss */
.port-slide-wrap .slick-dots button {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 1px solid #1E3269;
  -moz-border-radius: 50% / 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% / 50%;
}
/* line 63, ../sass/screen_sub.scss */
.port-slide-wrap .slick-dots button:before {
  display: none;
}
/* line 68, ../sass/screen_sub.scss */
.port-slide-wrap .slick-dots .slick-active button {
  background-color: #1E3269;
}
/* line 74, ../sass/screen_sub.scss */
.port-slide-wrap .slick-prev, .port-slide-wrap .slick-next {
  height: auto;
}
/* line 76, ../sass/screen_sub.scss */
.port-slide-wrap .slick-prev:before, .port-slide-wrap .slick-next:before {
  font-family: 'FontAwesome';
  font-size: 40px;
  color: #222;
}
/* line 83, ../sass/screen_sub.scss */
.port-slide-wrap .slick-next:before {
  content: "\f105";
}
/* line 88, ../sass/screen_sub.scss */
.port-slide-wrap .slick-prev:before {
  content: "\f104";
}

/* line 94, ../sass/screen_sub.scss */
.port-desc {
  overflow: hidden;
}
/* line 97, ../sass/screen_sub.scss */
.port-desc .summary dt {
  font-size: 16px;
  color: #222;
  font-weight: 700;
}
/* line 102, ../sass/screen_sub.scss */
.port-desc .summary dd {
  font-size: 14px;
  padding-left: 15px;
  color: #5d5d5d;
}
/* line 108, ../sass/screen_sub.scss */
.port-desc .desc {
  margin-top: 15px;
}
/* line 110, ../sass/screen_sub.scss */
.port-desc .desc dt {
  font-size: 16px;
  color: #222;
  font-weight: 700;
}
/* line 115, ../sass/screen_sub.scss */
.port-desc .desc dd {
  font-size: 14px;
  padding-left: 15px;
  color: #5d5d5d;
}
/* line 121, ../sass/screen_sub.scss */
.port-desc .btn-link {
  margin-top: 15px;
  border: 1px solid #1E3269;
  background-color: #1E3269;
  color: #fff;
}
/* line 127, ../sass/screen_sub.scss */
.port-desc .btn-link:hover {
  color: #1E3269;
}

/* line 134, ../sass/screen_sub.scss */
.btn-wrap {
  text-align: right;
  clear: both;
  margin-top: 15px;
}
/* line 138, ../sass/screen_sub.scss */
.btn-wrap .btn-list {
  color: #fff;
  border: 1px solid #222;
  background-color: #222;
}
/* line 143, ../sass/screen_sub.scss */
.btn-wrap .btn-list:hover {
  color: #222;
}

/* line 153, ../sass/screen_sub.scss */
.about-me .img {
  margin-top: 25px;
  text-align: center;
}
/* line 156, ../sass/screen_sub.scss */
.about-me .img img {
  display: inline-block;
  max-width: 100%;
  max-height: 400px;
}

/* line 164, ../sass/screen_sub.scss */
.about-me-desc .intro {
  margin-bottom: 25px;
}
/* line 166, ../sass/screen_sub.scss */
.about-me-desc .intro h3 {
  padding: 10px 0;
  font-size: 1.66667em;
  font-weight: 700;
}
/* line 171, ../sass/screen_sub.scss */
.about-me-desc .intro p {
  line-height: 1.8;
  color: #535353;
  font-size: 16px;
}

/* line 180, ../sass/screen_sub.scss */
.my-info h4 {
  padding: 10px 0;
  font-size: 1.66667em;
  font-weight: 700;
}

/* line 188, ../sass/screen_sub.scss */
.charts {
  position: relative;
  overflow: hidden;
}
/* line 191, ../sass/screen_sub.scss */
.charts .chart {
  float: left;
  margin-right: 15px;
  position: relative;
  z-index: 1;
  margin-top: 25px;
  width: 120px;
  height: 120px;
}
/* line 200, ../sass/screen_sub.scss */
.charts .chart#html .circle-body {
  background-color: #0078ff;
}
/* line 205, ../sass/screen_sub.scss */
.charts .chart#css .circle-body {
  background-color: #ff00c8;
}
/* line 210, ../sass/screen_sub.scss */
.charts .chart#jquery .circle-body {
  background-color: #ff0053;
}
/* line 215, ../sass/screen_sub.scss */
.charts .chart#javascript .circle-body {
  background-color: #38a16c;
}
/* line 220, ../sass/screen_sub.scss */
.charts .circle-mask-outer,
.charts .circle-mask-inner {
  overflow: hidden;
  position: absolute;
  width: 60px;
  height: 120px;
}
/* line 227, ../sass/screen_sub.scss */
.charts .circle-mask-outer.left {
  left: 0;
}
/* line 229, ../sass/screen_sub.scss */
.charts .circle-mask-outer.left .circle-body {
  right: 0;
}
/* line 233, ../sass/screen_sub.scss */
.charts .circle-mask-outer.right {
  right: 0;
}
/* line 235, ../sass/screen_sub.scss */
.charts .circle-mask-outer.right .circle-body {
  left: 0;
}
/* line 239, ../sass/screen_sub.scss */
.charts .circle-mask-outer.left .circle-mask-inner {
  left: 100%;
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
/* line 245, ../sass/screen_sub.scss */
.charts .circle-mask-outer.right .circle-mask-inner {
  right: 100%;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
/* line 251, ../sass/screen_sub.scss */
.charts .circle-body {
  position: absolute;
  width: 120px;
  height: 120px;
  -moz-border-radius: 50% / 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% / 50%;
}
/* line 257, ../sass/screen_sub.scss */
.charts .chart-content {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: -25px;
  text-align: center;
}
